<div class="form-group {{form.htmlClass}}" ng-class="{'has-error': hasError()}">
  <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">{{form.title}}</label>
  <div ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
    <span ng-if="form.fieldAddonLeft"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonLeft"></span>
    <input ng-show="form.key"
           type="text"
           class="form-control {{form.fieldHtmlClass}}"
           schema-validate="form"
           ng-model="$$value$$"
           ng-disabled="form.readonly"
           placeholder="{{::form.placeholder}}"
           angular-bootstrap-tokenfield
           tokens="form.tokens"
           limit="form.limit"
           min-length="form.minLength"
           min-width="form.minWidth"
           show-autocomplete-on-focus="form.showAutocompleteOnFocus"
           autocomplete="form.autocomplete"
           create-tokens-on-blur="form.createTokensOnBlur"
           delimiter="form.delimiter"
           beautify="form.beautify"
           inputType="form.inputType"
          />
    <span ng-if="form.fieldAddonRight"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonRight"></span>
  </div>
  <span class="help-block">{{ (hasError() && errorMessage(schemaError())) || form.description}}</span>
</div>