<div ng-controller="angularBootstrapTokenfieldController"
     class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }"
     sf-field-model="sf-new-array"
     sf-new-array="tokenfield.modelValue"
     schema-validate="form"
     ng-model="tokenfield.modelValue"
>
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}">{{form.title}}</label>
    <input 
         ng-model="tokenfield.viewValue"
         tokens="form.tokens"
         limit="form.limit"
         min-length="form.minLength"
         min-width="form.minWidth"
         show-autocomplete-on-focus="form.showAutocompleteOnFocus"
         autocomplete="form.autocomplete"
         create-tokens-on-blur="form.createTokensOnBlur"
         delimiter="form.delimiter"
         beautify="form.beautify"
         input-type="form.schema.items.type"
         type="form.schema.items.type"
         angular-bootstrap-tokenfield>

    <div class="help-block" sf-message="form.description"></div>

</div>